.product {
  width: 500px;
  height: 650px;
  padding: 1rem;
  background-color: whitesmoke;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  margin: 8px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product > img {
  height: 502px;
  border-radius: 8px;
}

.product_info > p {
  margin-bottom: 8px;
  text-align: center;
}

.info_price {
  font-size: 20px;
  font-weight: 300;
}

.info_name {
  font-size: 24px;
  font-weight: 800;
  text-align: center;
}
.info_deskription {
  font-size: 0rem;
  overflow: hidden;
}

.info_button {
  display: block;
  width: 100%;
  text-decoration: none;
  text-align: center;
  color: black;
  background-color: #a0bfbf;
  border-radius: 15px;
  padding: 8px 16px;
}

.info_button:hover {
  background-color: #148a8a;
}
